.box {
    background-image: url("../images/ac.jpg");
    width: 850px;
    height: 700px;
    display: block;
    margin: auto;
}

.mantelBox1 {
    background-image: url("../images/back_mantel.jpg");
    background-repeat: repeat;
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 25px;
    margin-left: 45px;
}

.textBox {
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
}

.mantelBox2 {
    background-image: url("../images/back_mantel.jpg");
    background-repeat: repeat;
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 45px;
    margin-left: 270px;
    text-align: center;
}

.mantelBox3 {
    background-image: url("../images/back_mantel.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-left: 450px;
}

.textBox1 {
    position: absolute;
    margin-top: 15px;
    margin-left: 70px;
}

.mantelBox4 {
    background-image: url("../images/back_mantel.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 20px;
    position: absolute;
    width: 115px;
    height: 115px;
    margin-top: 25px;
    margin-left: 650px;
    text-align: center;
}

.menBox1 {
    background-image: url("../images/dh.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 160px;
    height: 160px;
    margin-top: 250px;
    margin-left: 45px;
}

.menBox2 {
    background-image: url("../images/dh.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    border-style: solid;
    border-color: rgb(254, 254, 254);
    border-width: 20px;
    width: 123px;
    height: 123px;
    margin-top: 250px;
    margin-left: 250px;
}

.menBox3 {
    background-image: url("../images/dh_2.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    border-top: 45px;
    border-top-style: solid;
    border-top-color: rgb(254, 254, 254);
    border-bottom: 45px;
    border-bottom-style: solid;
    border-bottom-color: rgb(254, 254, 254);
    width: 150px;
    height: 70px;
    margin-top: 250px;
    margin-left: 450px;
}

.textBox2 {
    position: absolute;
    margin-top: -20px;
    margin-left: 70px;
}

.menBox4 {
    background-image: url("../images/dh_3.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    border-left: 35px;
    border-left-style: solid;
    border-left-color: rgb(254, 254, 254);
    border-right: 35px;
    border-right-style: solid;
    border-right-color: rgb(254, 254, 254);
    width: 90px;
    height: 160px;
    margin-top: 250px;
    margin-left: 650px;
}

.colorBox1 {
    background: linear-gradient(to right, rgb(163, 201, 47), green );
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 500px;
    margin-left: 45px;

}

.colorBox2 {
    background: linear-gradient( rgb(236, 211, 164), rgb(255, 132, 0) 80%, rgb(236, 211, 164));
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 500px;
    margin-left: 250px;

}

.colorBox3 {
    background: linear-gradient(rgb(244, 242, 234), rgba(118, 157, 12, 2));
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 500px;
    margin-left: 450px;
}

.colorBox4 {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(118, 157, 12, 0.878));
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: absolute;
    width: 160px;
    height: 160px;
    margin-top: 500px;
    margin-left: 650px;
}